./*.RData
Results/**/*.rds
Results/**/*.RData
Results/*.RData
/**/*.rds
/**/*.rds
./*.rds 
run_seurat_cache/
run_seurat_files/
*_cache/
*_files/

.DS_Store
./**/.DS_Store
./**.DS_Store
./cd14-processed.rds
./Data/cd14-processed.rds
./Results/subsetGenes-protein_coding__subsetCells-400__Resolution-0.6/cd14-processed.rds
*.RData
.Rproj.user
